/* ============================================= */
/*              Images                           */
/* ============================================= */
.avatar {
    @extend %rounded;
    @include mq("desktop") {
        margin-bottom: 0;
    }

    margin-bottom: 1rem;

    &-modal {
        @extend %rounded;
        margin-bottom: 2rem;
    }
}

/* ============================================= */
/*              SVGs                             */
/* ============================================= */

