/* ============================================= */
/*              Wrappers / Containers            */
/* ============================================= */

.main-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.card {
    @include mq("desktop") {
        flex-direction: row;
        justify-content: flex-start;
    }

    @include flexy("column");
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border: $color-anothergray $size-card-border solid;
    border-radius: $size-input-border-radius;
    transition: border 0.5s;

    &-description {
        @include mq("desktop") {
            margin-left: 1rem;
        }

        @include flexy("column");
    }

    &:hover {
        border-color: $color-secondary;
        border-width: $size-card-border-hover;
    }
}

.modal {
    &-container {
        // display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: $color-shadow;
    }
    
    &-content {
        @include mq("tablet") {
            width: 30%;
        }

        @include flexy("column");
        align-items: center;
        position: relative;
        margin: 0 auto;
        padding: 2rem;
        background-color: $color-white;
        border-radius: $size-input-border-radius;
        top: 15%;
        width: 80%;
    }

}